

/*///////////////////////////// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\ COLORS ////////////////////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ //////////////////////////////*/


//MAIN COLOR STYLES
$mainbordercolor: rgba(70, 73, 75, 0.836); // 1st border color
$bgcolor: #041e20; // 
$bodycolor: #2a3132; // Website's Body color

//NAVIGATION COLORS


//TEXT STYLES
$pMaincolor: white; // Paragraphs color

/*///////////////////////////// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\ TEXT STYLES ////////////////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ //////////////////////////////*/